main#FrontPage {
  flex: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: #22107f;
}

div#hContainer {
  width: 320px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  color: #22107f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  padding: 0 18px;
  box-shadow: 0 0 8px rgb(197, 197, 197);
}

div#hContainer h1 {
  font-size: 3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 2px;
}

div#hContainer h1:nth-of-type(2) {
  align-self: center;
}

div#hContainer h1:nth-of-type(3) {
  align-self: flex-end;
}

main#FrontPage > video {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  border-radius: 8px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 8px rgb(197, 197, 197);
}

main#FrontPage > p,
a.version {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: yellow;
}

main#FrontPage > a button {
  font-size: 3rem;
  font-weight: 700;
  padding: 4px 50px;
  border-radius: 50px;
  border: 2px solid black;
  background-color: purple;
  color: yellow;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 2px;
  cursor: pointer;
}

main#FrontPage > a button:hover {
  box-shadow: 0 0 10px white;
}

main#FrontPage > a button:active {
  background-color: aliceblue;
  color: #22107f;
}
