main#game {
  flex: auto;
  background-color: #2b2c5a;
  min-width: 1840px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main#game header {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 4px;
  width: 100%;
}

main#game ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

main#game ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

main#game ul li:first-of-type {
  justify-self: end;
}

main#game ul li:last-of-type {
  justify-self: start;
}

main#game img {
  max-width: 1830px;
}
