main#selection {
  flex: auto;
  top: 0;
  background-color: #22107f;
  display: flex;
  justify-content: space-evenly;
}

div.card {
  margin-top: 180px;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  box-shadow: 0 0 10px black;
}

div.card:hover {
  box-shadow: 0 0 10px white;
}

div.card ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

div.card ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

div.card > img {
  width: 180px;
  box-shadow: 0 0 4px black;
  border-radius: 8px;
}

div.card > button {
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 1.2rem;
}
